*{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

h3,p{
    margin: 5px;
}

.app{
    margin: auto;
    width: 1000px;
}
#map{
    width: 50%;
    height: 500px;
}
#address{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
}
input[type=text]:focus{
    border:1px solid lightblue;
}
#search{
    height: 30px;
    border-radius: 5px;

}
#officeList{
    
    width: 100%;
    height: 80%;
    overflow-y:scroll;
    padding: 5px;
}
#results{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;

}
.header{
    width: 100%;
    height: 60px;
    background-color: grey;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.container{
    width: 1000px;
    height: 500px;
    display: flex;
}
.office{
    cursor: pointer;
}

.selected{
    background-color: lightgray;
}
.text{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.loader{
border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }